input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.no-arrows {
    -moz-appearance: textfield;
    appearance: textfield;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
}

h1 {
    color: #333;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
select {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #8acc8a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
